<a href="https://colab.research.google.com/github/Vidito/pandas_2/blob/main/Pandas_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [81]:
import pandas as pd

In [82]:
df = pd.read_csv('rand.csv')

In [ ]:
# Check the first rows
df.head()

In [ ]:
# Check some technical info and overview
df.info()

In [112]:
# Check if the values are unique
df['ID'].is_unique

True

In [113]:
# Set the index to the ID columns
df = df.set_index('ID')

In [ ]:
# Check the missing values
df.isna().sum()

In [ ]:
# Check the rows containing the missing values
df[df['Age'].isna()]

In [91]:
# Dropping the rows containing missing values
df1 = df.dropna()

In [ ]:
df1.info()

In [95]:
# Filling the empty cells with the average age
df['Age'] = df['Age'].fillna(df['Age'].mean())

In [ ]:
df.info()

In [85]:
# Convert DOB to Datetime datatype
df['DOB'] = pd.to_datetime(df['DOB'])

In [ ]:
# Count the different values in a series (column)
df['Gender'].value_counts()

In [98]:
# Using replace method
df['Gender'] = df['Gender'].replace('Mile', 'Male')

In [100]:
# Converting to category datatype
df['Gender']= df['Gender'].astype('category')

In [101]:
df['Gender'].dtype

CategoricalDtype(categories=['Female', 'Male'], ordered=False)

In [103]:
# Converting to integer datatype
df['Age']= df['Age'].astype('int')

In [107]:
# Dropping two columns
df = df.drop(columns=['Education', 'Occupation'])

In [ ]:
# Getting the name of columns
df.columns

In [ ]:
df.head(2)

In [ ]:
# Using loc to loacte rows
df.loc[1000:1009]

In [ ]:
# Using iloc for unlabeled index
df.iloc[0:5]

In [ ]:
# using at to locate specific values
df.at[1003:1007, 'Salary']